* {
    box-sizing: border-box;
}

main{
    margin: auto;
    background-color: var(--surface-1);
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-fluid-3);
    height: 80vh;
    justify-content: center;
    align-content: center;
    filter: blur(5px);
}

/* Welcome message */
.floating_window {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    z-index: var(--layer-1);
}
.welcome_message {
    display: grid;
    justify-content: center;
    width: 50%;
    height: var(--size-fluid-10);
    margin: auto;
    padding: var(--size-fluid-5);
    border-radius: var(--radius-blob-3);
    box-shadow: var(--shadow-2);


    background-color: var(--surface-3);
    color: var(--text-1);
}



/* TILES */


.tile {
    width:16rem;
    height:9rem;
    background-color: darkcyan;
    box-shadow: var(--shadow-2);
    transition: transform .3s var(--ease-squish-5) .5s;
}

.tile:hover {
    transform: scale(1.05);
    transition-delay: 0s;
}

.tile:active {
    z-index: var(--layer-2);
    position: absolute;
    height: 80%;
    width: 80%;
    animation: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Animated Audio Controls */
.music-controller {
    display: flex;
    gap: 10rem;
    height: 10rem;
    justify-content: center;
    align-items: center;
}

.lead_1 {
    display: none;
    gap: 0.5rem;
}
.first {
    animation: jump1 infinite 1s;
    var(--animation-slide-in-down) backwards;
}
.second {
    animation: jump2 infinite 1s;
}
.third {
    animation: jump3 infinite 1s;
}

@keyframes jump1 {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes jump2 {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    75% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes jump3 {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}


.lead_2 {
    display: flex;
    gap: 0.5rem;
}
.drums {
    display: flex;
    gap: 0.5rem;
}
.ambiance {
    display: flex;
    gap: 0.5rem;
}
.voice {
    display: flex;
    gap: 0.5rem;
}
.clarinet {
    display: flex;
    gap: 0.5rem;
}

.circle {
    border-radius: var(--radius-round);
    background-color: var(--red-5);
    width: 30px;
    height: 30px;
}