* {
    box-sizing: border-box;
}

main{
    margin: auto;
    background-color: var(--surface-1);
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-fluid-3);
    height: 80vh;
    justify-content: center;
    align-content: center;
    filter: blur(5px);
}

/* Welcome message */
.floating_window {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    z-index: var(--layer-1);
}
.welcome_message {
    display: grid;
    justify-content: center;
    width: 50%;
    height: var(--size-fluid-10);
    margin: auto;
    padding: var(--size-fluid-5);
    border-radius: var(--radius-blob-3);
    box-shadow: var(--shadow-2);


    background-color: var(--surface-3);
    color: var(--text-1);
}



/* TILES */


.tile {
    width:16rem;
    height:9rem;
    background-color: darkcyan;
    box-shadow: var(--shadow-2);
    transition: transform .3s var(--ease-squish-5) .5s;
}

.tile:hover {
    transform: scale(1.05);
    transition-delay: 0s;
}

.tile:active {
    z-index: var(--layer-2);
    position: absolute;
    height: 80%;
    width: 80%;
    animation: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Animated Audio Controls */
.music-controller {
    display: flex;
    gap: 10rem;
    height: 10rem;
    justify-content: center;
    align-items: center;
}
.circle {
    border-radius: var(--radius-round);
    background-color: var(--red-5);
    width: 30px;
    height: 30px;
}

.lead_1 {
    display: none;
    gap: 0.5rem;
}
.first {
    animation: jump1 infinite 1s;
}
.second {
    animation: jump2 infinite 1s;
}
.third {
    animation: jump3 infinite 1s;
}
@keyframes jump1 {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes jump2 {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    75% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes jump3 {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.bass {
    display: none;
    width: 50px;
    height: 50px;
    animation: bounce 1s linear infinite;
}
@keyframes bounce {
    0% {
        transform: scale(1, .75);
    }
    15% {
        transform: scale(.75, 1.1);
    }
    30% {
        margin-top: -50px;
    }
    50% {
        margin-top: -60px;
    }
    70% {
        margin-top: -50px;
    }
    95% {
        margin-top: 0;
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1, .6);
    }
}


.boom {
    display: none;
    width: 50px;
    height: 50px;
    margin: 1px;
    animation: boom 4s step-start infinite;
    animation-delay: 0s;
}
@keyframes boom {
    0% {
        transform: scale(.75);
    }
    12.5% {
        transform: scale(.75);
    }
    25% {
        transform: scale(1.1);
    }
    37.5% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.1);
    }
    72.5% {
        transform: scale(.75);
    }
    85% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.1);
    }
}


.vibra {
    display: none;
    width: 60px;
    height: 30px;
    animation: vibrate 0.5s ease infinite;
}
@keyframes vibrate {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-2px, 2px);
    }
    40% {
        transform: translate(-2px, -2px);
    }
    60% {
        transform: translate(2px, 2px);
    }
    80% {
        transform: translate(2px, -2px);
    }
    100% {
        transform: translate(0);
    }
}

.sing {
    display: none;
    width: 50px;
    height: 30px;
    animation: sing 2s linear infinite;
}
@keyframes sing {
    0% {
        transform: scale(1.0, 1.0);
    }
    12.5% {
        transform: scale(0.8, 0.5);
    }
    25% {
        transform: rotate3d(0, 0, 1, -10deg);
    }
    37.5% {
        transform: scale(1.5, 1.1);
    }
    50% {
        transform: scale(1.2, 1.1);
    }
    72.5% {
        transform: scale(1.2, 0.8);
    }
    85% {
        transform: rotate3d(0, 0, 1, 10deg);
    }
    100% {
        transform: scale(1.0, 0.8);
    }
}

.stick {
    display: none;
    width: 60px;
    height: 20px;
    animation: upndown 16s step-end infinite;
}
@keyframes upndown {
    0% {transform: translateY(-70px);}
    9.375% {transform: translateY(-60px);}
    10.9375% {transform: translateY(-50px);}
    14.0625% {transform: translateY(-40px);}
    21.875% {transform: translateY(-50px);}

    25% {transform: translateY(-70px);}
    34.375% {transform: translateY(-80px);}
    35.9375% {transform: translateY(-70px);}
    39.0625% {transform: translateY(-50px);}

    50% {transform: translateY(-70px);}
    59.375% {transform: translateY(-60px);}
    60.9375% {transform: translateY(-50px);}
    64.0625% {transform: translateY(-40px);}
    71.875% {transform: translateY(-50px);}

    75% {transform: translateY(-20px);}
    84.375% {transform: translateY(-30px);}
    87.5% {transform: translateY(-10px);}

    100% {transform: translateY(-10px);}


}

